body {
  color: #40514e;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

.emphasis {
  text-decoration: underline;
}

p {
  line-height: 2;
}

hr {
  border: dotted #66bfbf 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

h1 {
  color: #1d6e96;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #1d6e96;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  margin: auto;
  width: 30%;
}

.top-container {
  background-color: #c9efff;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #c9efff;
  padding: 50px 0 20px;
}

.profile-pic {
  width: 15%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.code-img {
  float: left;
  padding-right: 30px;
  width: 30%;
}

.design-img {
  float: right;
  padding-left: 30px;
  width: 30%;
}

.skill-row {
  margin: 100px auto 100px auto;
  padding-bottom: 50px;
  text-align: left;
  width: 50%;
}

.contact-me {
  margin-bottom: 30px;
}

.footer-text-size {
font-size: 00.75rem;
}

.linkedin-link {
  padding-right: 15px;
}

.dribbble-link {
  padding-left: 15px;
}

.copyright {
  font-size: 0.75rem;
}